# Introduction: Fundamentals of Python and Numpy

Lecture 1 | September 18, 2019

<b>NetID</b>:

___

## The Basics

In [ ]:
# This is a comment

In [ ]:
# Creating Variables
var1 = 'Hello World'

In [ ]:
# You can print in Jupyter Notebooks without a print statement.
var1

In [ ]:
# Or with one if it is not the last line
print(var1)

In [ ]:
# Lets talk about lists
list1=[0,1,2,3,4,5,6,7,8,9]

In [ ]:
print('fifth index', list1[5])

print("4 Through 7", list1[4:8])

print("Before", list1)

list1.append(10)

print("After", list1)

In [ ]:
# for loops and if statments are made very easy in python, just follow this example
newArray = [1,2,3,4,5,6,7,8,9]
for x in newArray:
    if x%2 == 0:
        print(x,'is even')
    else:
        print(x,'is odd')

In [ ]:
# list comprehention is a little more difficult and isn't necessary, but if you know how to do it, it saves time
allEven=[x for x in range(0,100) if x%2==0]
print(allEven)

____

## Example 1: Put all the prime numbers from 1 to 100 in a list (Save it as a variable called 'prime_numbers'):

In [1]:
# The above examples should be helpful in solving this question! Ask a TA for help if you're stuck.
def isPrime(n):
    if n <= 1:
        return False
    if n == 2 or n == 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    for i in range(5, int(n**0.5)+1, 6):
        if n % i == 0 or n % (i+2) == 0:
            return False
    return True

prime_numbers = []
for x in range(0,101):
    if isPrime(x):
        prime_numbers.append(x)
        
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

___

## Introduction to Numpy

In [3]:
# Importing Numpy
import numpy as np

In [ ]:
arr1 = np.array([1,2,3]) #seperate with commas

In [ ]:
print(arr1)

In [4]:
arr2=np.array([[1,2,3],[4,5,6]]) #2d array

In [ ]:
print(arr2)

In [5]:
arr2.shape #get the shape of the array

(2, 3)

### Different Ways to Create numpy arrays

In the code below, we create a number of different sized arrays with different shapes and values.  Numpy has some built in methods (listed below) which help us quickly and easily create multidimensional arrays with pre-filled values.

**np.zeros((dimensions))** creates an array of zeros with the specified dimensions

**np.full((dimensions), value)** creates an array with the specified dimensions where every element is the specified value

**np.random.random(dimensions)** generates an array of random floating-point values between 0 and 1

In [ ]:
# create a 3x4 array of zeros
ex1 = np.zeros((3, 4))      
print(ex1)

In [ ]:
# create a 2x3 array filled with 9.0
ex2 = np.full((2,3), 9.0)  
print(ex2)

In [ ]:
# create a 2x3 array of random floating-point numbers between 0 and 1
ex3 = np.random.random((2,3))
print(ex3)

In [ ]:
ex3[0] #this first index if the first row

In [ ]:
ex4=np.random.randint(1,10,(5,10)) #(low,high-exclusive,shape)
print(ex4)

In [ ]:
ex4[2]

In [ ]:
np.median(ex4[1])

___

### Mathematical Operations

In [4]:
arr1 = np.array([2,4,6,8,10])

In [ ]:
print(arr1)

In [ ]:
print(np.sqrt(arr1))

In [ ]:
np.max(arr1)

In [ ]:
np.min(arr1)

In [ ]:
np.median(arr1)

In [ ]:
np.std(arr1)

In [5]:
arr1+1

array([ 3,  5,  7,  9, 11])

In [ ]:
arr1*2

In [ ]:
print(arr1[2:])

In [ ]:
np.unique(np.array([1,1,1,1,2]))

In [ ]:
arr2=np.array([3,6,9,12,15])

In [ ]:
np.add(arr1,arr2)

In [ ]:
arr1+arr2

In [ ]:
arr1.dot(arr2)

In [ ]:
np.sum(arr1)

___

## Example 2: Create an random integer array with a min of 1, max of 10, and shape of (20,10) so 20 rows and 10 columns. Then for each row, sum the random integers and add all the sums to a list called 'random_sums'.

In [4]:
arr = np.random.randint(1,11,(20,10))
random_sums = []
for row in arr :
    random_sums.append(sum(row))
    
print(random_sums)

[57, 58, 46, 49, 66, 48, 64, 69, 50, 44, 53, 56, 55, 33, 56, 65, 67, 59, 56, 55]

___

## Sets

In [ ]:
arr1=np.array([x for x in range(0,50) if x%5 > 2])
arr2=np.array([x for x in range(0,50) if x%7 > 3])

print('array 1:', arr1)
print('array 2:', arr2)

In [ ]:
union = np.union1d(arr1, arr2) #in either arr1 or arr2
print('union:', union)

In [ ]:
intersect = np.intersect1d(arr1, arr2) #in both arr1 and arr2
print('intersect:', intersect)

## Reshaping

In [ ]:
arr1=np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(arr1)

In [ ]:
arr1.reshape(2, -1) #first number is the number of rows, -1 automatically selects the number that works

In [ ]:
np.transpose(arr1) #switches the axis

____

## Example 3: Find the numbers that are in both 'prime_numbers' and 'random_sums' and put them in an array called 'both'.

In [5]:
both = np.intersect1d(prime_numbers, random_sums)
print(both)

[53 59 67]

____

<b>Final Note</b>: We know that you might not have any experience in Python or Computer Science/Math in general, and that's completely fine. Don't be intimidated - this is a part of the process! Please come to office hours, and one of the instructors would give you a crash course. Additionally, we plan to host a Python workshop soon so that you can bridge the gap, if any. If you still feel underprepared, please come talk to one of the instructors - we will work it out.